@page
@model MVC_app_main.Views.Home.APODModel
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/top1/js/bootstrap.min.js"></script>
        <title>@ViewBag.Title</title>
    </head>
    <body  style="background-color:rgba(31,31,31,0.9)">
        <form method="get">
            	<div style="padding-top:80px">
					<span style="display:flex; flex-direction:row; flex-flow:row; color:rgb(255, 255, 255)"><h5>Sort by:</h5></span>
					<span style="display:flex; flex-direction:row; flex-flow:row; color:rgb(255, 255, 255)">
					    <h5><a style="margin-right:10px" asp-controller="Home" asp-action="APOD" asp-route-sortBy="@ViewBag.sortOrderT">Title</a></h5>
                        <h5><a style="margin-right:10px" asp-controller="Home" asp-action="APOD" asp-route-sortBy="@ViewBag.sortOrderD">Date</a></h5>
                        <h5><a style="margin-right:10px" asp-controller="Home" asp-action="APOD" asp-route-sortBy="@ViewBag.sortOrderC">Copyright</a></h5>
					</span>
				</div>
            <div class="container">
                <div style="display:grid; grid-template-columns: auto auto auto; padding-top:70px; column-gap:20px; row-gap:0px;">
                    @if(ViewBag.Data != null)
                    {
                        @foreach (var item in ViewBag.Data)
                        {
                            @if (@item.Url != null && @item.Title != null)
                            {
                                <div>
                                    <h4 class="title"  style="color:rgb(255, 255, 255)">@item.Title</h4>

                                    @if(@item.Explanation != null)
                                    {
                                        <div style="margin-bottom: 15px">
                                            <span class="tooltiptext"  style="color:rgb(255, 255, 255)">@item.Explanation</span>   
                                        </div>
                                    }

                                    <img class="img-responsive" src="@item.Url" alt="low quality image"/>

                                    <div class="caption">
                                        @if(@item.Copyright != null)
                                        {
                                            <p style="color:rgb(255, 255, 255)">Copyright: @item.Copyright</p>
                                        }
                                        @if (@item.Date != null)
                                        {
                                            <p style="color:rgb(255, 255, 255)">Date: @item.Date</p>
                                        }
                                        @if(@item.HdUrl != null)
                                        {
                                            <a href="@item.HdUrl" target="_blank">High quality image</a>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                  <ul class="pagination">
				@for (var i = 1; i <= (int)@ViewBag.size; i++)
				{
					<li><a asp-controller="Home" asp-action="APOD" asp-route-page="@i">@i</a></li>
				}
				</ul>
            </div>
        </form>
    </body>