@page
@model MVC_app_main.Views.Home.APODModel
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/top1/js/bootstrap.min.js"></script>
        <title>@ViewBag.Title</title>
    </head>
    <body  style="background-color:rgba(31,31,31,0.9)">
        <form method="get">
            <div class="container">
                <div style="display:grid; grid-template-columns: auto auto auto; padding-top:70px; column-gap:20px; row-gap:0px;">
                    @if(ViewBag.Data != null)
                    {
                        @foreach (var item in ViewBag.Data)
                    {
                        @if (@item.url != null || @item.title)
                        {
                            <div>
                                <h4 class="title"  style="color:rgb(255, 255, 255)">@item.title</h4>

                                @if(@item.explanation != null)
                                {
                                    <div style="margin-bottom: 15px">
                                        <span class="tooltiptext"  style="color:rgb(255, 255, 255)">@item.explanation</span>   
                                    </div>
                                }

                                <img class="img-responsive" src="@item.url" alt="low quality image"/>

                                <div class="caption">
                                    @if(@item.copyright != null)
                                    {
                                        <p style="color:rgb(255, 255, 255)">Copyright: @item.copyright</p>
                                    }
                                    @if (@item.date != null)
                                    {
                                        <p style="color:rgb(255, 255, 255)">Date: @item.date</p>
                                    }
                                    @if(@item.hdurl != null)
                                    {
                                        <a href="@item.hdurl" target="_blank">High quality image</a>
                                    }
                                </div>
                            </div>
                        }
                    }
                }
                </div>
                  <ul class="pagination">
				@for (var i = 1; i <= (int)@ViewBag.size; i++)
				{
					<li><a asp-controller="Home" asp-action="APOD" asp-route-page="@i">@i</a></li>
				}
				</ul>
            </div>
        </form>
    </body>