@page
@model MVC_app_main.Views.Home.GalleryModel
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/top1/js/bootstrap.min.js"></script>
        <title>@ViewBag.Title</title>
    </head>
    <body style="background-color:rgba(31,31,31,0.9)">
        <form method="get">
            <div class="container">
                <div style="display:grid; grid-template-columns: auto auto auto; padding-top:70px; column-gap:20px; row-gap:0px;">
                    @if(@ViewBag.Data != null)
                    {
                        @foreach (var item in @ViewBag.Data)
                        {
                            @if(@item.data != null && @item.links != null)
                            {
                                @if(@item.links[0].href != null)
                                {
                                    <div>
                                        <h4 class="title" style="color:rgb(255, 255, 255)">@item.data[0].title</h4>
                                            <img class="img-responsive" src="@item.links[0].href">
                                            <div class="caption">
                                            @if(@item.data[0].center != "")
                                            {
                                                <p style="color:rgb(255, 255, 255)">Center: @item.data[0].center</p>
                                            }
                                        
                                            @if(@item.data[0].photographer != "")
                                            {
                                                <p style="color:rgb(255, 255, 255)">Photographer: @item.data[0].photographer</p>
                                            }
                                            @if(@item.data[0].location != "")
                                            {
                                                <p style="color:rgb(255, 255, 255)">Location: @item.data[0].location</p>
                                            }
                                            @if(@item.data[0].date_created != "")
                                            {
                                                <p style="color:rgb(255, 255, 255)">Date created: @item.data[0].date_created</p>
                                            }
                                            </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
                 <ul class="pagination">
				@for (var i = 1; i <= (int)@ViewBag.size; i++)
				{
					<li><a asp-controller="Home" asp-action="Index" asp-route-page="@i">@i</a></li>
				}
				</ul>
            </div>
        </form>
    </body>