@page
@model MVC_app_main.Views.Home.GalleryModel
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/top1/js/bootstrap.min.js"></script>
        <title>@ViewBag.Title</title>
    </head>
    <body style="background-color:rgba(31,31,31,0.9)">
        <form method="get">
            <div class="container">
                <div style="display:grid; grid-template-columns: auto auto auto; padding-top:70px; column-gap:20px; row-gap:0px;">
                    @if(@ViewBag.Data != null)
                    {
                        @foreach (var item in @ViewBag.Data)
                        {
                            @if(@item.Href != null && item.Title != null)
                            {
                                <div>
                                    <h4 class="title" style="color:rgb(255, 255, 255)">@item.Title</h4>
                                        <img class="img-responsive" src="@item.Href">
                                        <div class="caption">
                                        @if(@item.Center != "")
                                        {
                                            <p style="color:rgb(255, 255, 255)">Center: @item.Center</p>
                                        }
                                        @if(@item.DateCreated != null)
                                        {
                                            <p style="color:rgb(255, 255, 255)">Date created: @item.DateCreated</p>
                                        }
                                        @if(item.Description != "")
                                        {
                                            <p style="color:rgb(255, 255, 255)">Description: @item.Description</p>
                                        }
                                        @if (item.SecondaryCreator != "")
                                        {
                                            <p style="color:rgb(255, 255, 255)">Secondary creator: @item.SecondaryCreator</p>
                                        }
                                        </div>
                                </div>
                            }
                        }
                    }
                </div>
                 <ul class="pagination">
				@for (var i = 1; i <= (int)@ViewBag.size; i++)
				{
					<li><a asp-controller="Home" asp-action="Gallery" asp-route-page="@i">@i</a></li>
				}
				</ul>
            </div>
        </form>
    </body>