@page
@using MVC_app_main.Views.Home
@using MVC_app_main.Models
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/top1/js/bootstrap.min.js"></script>
        <title>@ViewBag.title</title>
    </head>
    <body style="background-color:rgba(31,31,31,0.9)">
        <form method="get">
            <div class="container">
                <div style="padding-top:80px">
					<span style="display:flex; flex-direction:row; flex-flow:row; color:rgb(255, 255, 255)"><h5>Sort by:</h5></span>
					<span style="display:flex; flex-direction:row; flex-flow:row; color:rgb(255, 255, 255)">
						<h5><a style="margin-right:10px" asp-controller="Home" asp-action="Gallery" asp-route-sortBy="@ViewBag.sortOrderT">Title</a></h5>
                    <h5><a style="margin-right:10px" asp-controller="Home" asp-action="Gallery" asp-route-sortBy="@ViewBag.sortOrderNI">Nasa index</a></h5>
                    <h5><a style="margin-right:10px" asp-controller="Home" asp-action="Gallery" asp-route-sortBy="@ViewBag.sortOrderDC">Date created</a></h5>
                    <h5><a style="margin-right:10px" asp-controller="Home" asp-action="Gallery" asp-route-sortBy="@ViewBag.sortOrderC">Center</a></h5>
					</span>
				</div>
                <div style="display:grid; grid-template-columns: auto auto auto; padding-top:70px; column-gap:20px; row-gap:0px;">
                    @if(@ViewBag.data != null)
                    {
                        @foreach (var item in @ViewBag.data)
                        {
                            @if(@item.Href != null && item.Title != null)
                            {
                                <div>
                                    <h4 class="title" style="color:rgb(255, 255, 255)">@item.Title</h4>
                                        <img class="img-responsive" src="@item.Href">
                                        <div class="caption">
                                        @if(@item.Center != null)
                                        {
                                            <p style="color:rgb(255, 255, 255)">Center: @item.Center</p>
                                        }
                                        @if(@item.DateCreated != null)
                                        {
                                            <p style="color:rgb(255, 255, 255)">Date created: @item.DateCreated</p>
                                        }
                                        @if(item.Description != null)
                                        {
                                            <p style="color:rgb(255, 255, 255)">Description: @item.Description</p>
                                        }
                                        @if (item.SecondaryCreator != null)
                                        {
                                            <p style="color:rgb(255, 255, 255)">Secondary creator: @item.SecondaryCreator</p>
                                        }
                                        </div>
                                </div>
                            }
                        }
                    }
                </div>
            <ul class="pagination">
                <!-- First and Previous buttons -->
                <li class="@(@ViewBag.currentPage == 1 ? "disabled" : "")">
                    <a asp-controller="Home" asp-action="Gallery" asp-route-page="1">First</a>
                </li>
                <li class="@(@ViewBag.currentPage == 1 ? "disabled" : "")">
                    <a asp-controller="Home" asp-action="Gallery" asp-route-page="@(@ViewBag.currentPage - 1)">Previous</a>
                </li>

                <!-- Page numbers -->
                @for (var i = @ViewBag.startPage; i <= @ViewBag.endPage; i++)
                {
                    <li class="@(i == @ViewBag.currentPage ? "active" : "")">
                        <a asp-controller="Home" asp-action="Gallery" asp-route-page="@i">@i</a>
                    </li>
                }

                <!-- Next and Last buttons -->
                <li class="@(@ViewBag.currentPage == @ViewBag.size ? "disabled" : "")">
                    <a asp-controller="Home" asp-action="Gallery" asp-route-page="@(@ViewBag.currentPage + 1)">Next</a>
                </li>
                <li class="@(@ViewBag.currentPage == @ViewBag.size ? "disabled" : "")">
                    <a asp-controller="Home" asp-action="Gallery" asp-route-page="@(@ViewBag.size)">Last</a>
                </li>
            </ul>
        </div>
        </form>
    </body>